/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
@font-face {
    font-family: 'lato-regular';
    src: url(/blog/fonts/sans-serif/lato-regular.ttf);
    font-style: regular;
    font-weight: regular;
}

@font-face {
    font-family: 'montserrat-regular';
    src:url(/blog/fonts/sans-serif/montserrat-regular.ttf);
    font-style: bold;
    font-weight: bold;
}

html{
    font-size: 16px;
}

body {
    font-family: 'lato-regular', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    margin: auto;
    width: 98%;
    max-width: 112.5rem;
}

img {
    display: block;
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 6.25rem;
    padding: 1.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    rotate: -10deg;
    max-width: 100%;
}

article :nth-child(1), :nth-child(2), :nth-child(3) {
    margin-top: 0;
}

aside :nth-child(1) {
    margin-top:0;
}

span.highlight {
    max-width: 15.625rem;
    background-color: darkslateblue;
    color: beige;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    font-family: 'montserrat-regular', sans-serif;
    font-size: 3.125rem;
    font-weight: bold;
    padding-top: 1.5625rem;
    rotate: -10deg;
    gap: 20px;
    text-shadow:
    0.0625rem 0.0625rem 0.0625rem black,
    0.125rem 0.125rem 0.0625rem black;
}

.nav {
    border-top: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    max-width: 100%;
    max-height: 100%;
    padding: 0.3125rem 0;
    margin: 0;
}

 .nav-list {
    color: #0056b3;
    font-weight: normal;
    list-style: none;
    display: flex;
    justify-content: left;
    text-decoration: none;
 }

 .nav-list a {
    text-decoration: none;
    color: #0056b3;
    margin: 0 0.9375rem;
 }

 .nav-list a:hover, .nav-list a:focus {
    text-decoration: none;

 }

ul {
    display: flex;
}

li {
    list-style: none;
    padding: 1.25rem 2.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    font-stretch: expanded;
}

.nav-list :nth-child(2) a {
    text-decoration-line: line-through;
    color: black;
    font-size: smaller;
    font-style: oblique;
    text-transform: uppercase;
    -webkit-transform:rotateY(10deg);
    transform:rotateY(10deg);
    
}

.main-section {
    display: flex;
}

.article-image {
    float: left;
    margin: 0 2% 0 0;
    max-width: 37.5rem;
}


article {
    width: 75%;
    clear: left;
}

aside{
    border-left: 0.125rem solid black;
    width: 19%;
    padding-left: 3%;
    margin-left: 3%;
}

aside img {
    max-width: 25rem;
}

.subsection {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: .3125rem;
    margin-top: 5%;
    
}

.subsection.figure{
    margin: 0;
}

.subsection img {
    max-width: 25rem;   
}

.subsection figcaption {
    padding: 1%;
    background-color: beige;
}


.subscribe-button {
    background-color: rgb(70, 70, 117);
    color: white;
    font-size: 2.5rem;
    border-radius: 1.875rem;
    cursor: pointer;
    font-weight: bold;
    float: left;
    width: 25%;
    padding: 1%;
    margin-top: 2%;
    }

.expand {
    display: block;
    text-align: left;
    font-size: 0.3125rem;
    margin-top: 0.625rem;
    color: #007bff;
    text-decoration: none;
    border-bottom: 0.125rem solid black;
    max-width: 100%;
    padding-bottom: 2.5rem;
    align-self: center;
}

.expand:hover {
    color: #0056b3;
}

footer {
    margin: 4% auto;
    width: 98%;
    max-width: 112.5rem;
    display: flex;

}

footer p {
    width: 50%;
}

.attribution {
    text-align: right;
}

.attribution a {
    color: #007bff;
    text-decoration: none;
}

.attribution a:hover {
    color: #0056b3;
}
